<div id="conteudo">
    <div class="conteudo-inner">
        <div class="conteudo-wrapper">
          <div class="conteudo-titleSection">
              <strong class="conteudo-title">
                It is my pleasure to introduce Career Development Cell which looks after the placement activities of the students at IIT Bhubaneswar. We are equipped with the required infrastructure to conduct placement sessions, video conferencing, etc. to organize campus placement activities. We provide all the possible support and guidance to the students for this purpose. 

                I invite esteemed organizations to visit our campus for the recruitment. Your visit shall provide a platform to utilize the technical knowledge and motivated young talent of our students establishing a synergetic interface. Besides I also invite the companies to take our third year undergraduate students for summer training/internship.

                For any clarifications/discussions please do feel free to contact me at hod.cdc@iitbbs.ac.in
              </strong>
          </div>
        </div>
    </div>
</div>
